workflows/weekly-dev-summary/weekly-dev-summary.json
{
  "name": "Weekly Claude Code Development Summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 0,
              "dayOfWeek": "MON"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule (Every Monday 9 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $vars.GITHUB_ORG }}/{{ $vars.GITHUB_REPO }}/pulls?state=closed&per_page=50&sort=updated&direction=desc",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        }
      },
      "id": "fetch-prs",
      "name": "Fetch Closed PRs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "// Filter PRs merged in the last 7 days\nconst oneWeekAgo = new Date();\noneWeekAgo.setDate(oneWeekAgo.getDate() - 7);\n\nconst items = $input.all();\nconst allPRs = items[0].json;\n\nconst recentMerged = allPRs.filter(pr => {\n  if (!pr.merged_at) return false;\n  const mergedDate = new Date(pr.merged_at);\n  return mergedDate >= oneWeekAgo;\n});\n\nconst summary = {\n  total_merged: recentMerged.length,\n  total_additions: recentMerged.reduce((sum, pr) => sum + (pr.additions || 0), 0),\n  total_deletions: recentMerged.reduce((sum, pr) => sum + (pr.deletions || 0), 0),\n  prs: recentMerged.map(pr => ({\n    number: pr.number,\n    title: pr.title,\n    author: pr.user?.login || 'unknown',\n    merged_at: pr.merged_at,\n    additions: pr.additions || 0,\n    deletions: pr.deletions || 0,\n    url: pr.html_url,\n    labels: (pr.labels || []).map(l => l.name)\n  }))\n};\n\nreturn [{ json: summary }];"
      },
      "id": "analyze-prs",
      "name": "Analyze PRs (JS)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generate markdown summary\nconst data = $input.first().json;\n\nconst date = new Date().toLocaleDateString('en-US', { \n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' \n});\n\nlet md = `# Weekly Development Summary\\n\\n`;\nmd += `**Generated:** ${date}\\n`;\nmd += `**Total PRs Merged:** ${data.total_merged}\\n`;\nmd += `**Total Lines Changed:** +${data.total_additions} / -${data.total_deletions}\\n\\n`;\n\n// Group by label\nconst byLabel = {};\ndata.prs.forEach(pr => {\n  pr.labels.forEach(label => {\n    if (!byLabel[label]) byLabel[label] = [];\n    byLabel[label].push(pr);\n  });\n});\n\nObject.entries(byLabel).forEach(([label, prs]) => {\n  md += `### ${label}\\n`;\n  prs.forEach(pr => {\n    md += `- [#${pr.number}](${pr.url}) ${pr.title} (@${pr.author})\\n`;\n  });\n  md += `\\n`;\n});\n\nif (data.prs.length === 0) {\n  md += `*No PRs merged this week.*\\n`;\n}\n\nmd += `---\\n*Generated by Claude Code n8n workflow*\\n`;\n\nreturn [{ json: { summary: md } }];"
      },
      "id": "generate-markdown",
      "name": "Generate Markdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "to": "={{ $vars.SUMMARY_EMAIL }}",
        "subject": "={{ 'Weekly Dev Summary — ' + new Date().toLocaleDateString() }}",
        "body": "={{ $json.summary }}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1.1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Schedule (Every Monday 9 AM)": {
      "main": [[{ "node": "Fetch Closed PRs", "type": "main", "index": 0 }]]
    },
    "Fetch Closed PRs": {
      "main": [[{ "node": "Analyze PRs (JS)", "type": "main", "index": 0 }]]
    },
    "Analyze PRs (JS)": {
      "main": [[{ "node": "Generate Markdown", "type": "main", "index": 0 }]]
    },
    "Generate Markdown": {
      "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["claude-code", "weekly", "summary"],
  "triggerCount": 1,
  "updatedAt": "2026-03-27T00:00:00.000Z",
  "versionId": "1"
}
